# Macos
.DS_Store

# Node
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# local env files
.env.local
.env.*.local

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
!.vscode/extensions.json

# dist and cache
/dist
/dist-*
/dist_*
.cache

# testing
/coverage

# next.js
.next
/out
/build

# nuxt.js
.nuxt
.nitro
.output
